.matches-table {
  margin-top: 15px;
  width: 100%;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.matches-table-header {
  text-align: center;
}

.participants {
  display: flex;
  align-content: center;
  justify-content: space-around;
}
