.text-input {
    font-family: Roboto;
    font-size: 25px;
    height: 30px;
    border: none;
    border-bottom: 2px solid grey;
    flex-grow: 1;
    width: 100%;
    clear: both;
}

.text-input:focus {
    background-color: lightgrey;
    border-bottom: 2px solid black;
}

.text-input.label {

}